<div class="wrapper2">
<html lang="ja">
<head>
<meta name="viewport" content="width=device-width,initial-scale=1">
<%= csrf_meta_tags %>
<%= csp_meta_tag %>
   <%= stylesheet_link_tag 'tweets', media: 'all', 'data-turbolinks-track': 'reload' %>
</head>
<body class="home">
<div class ='mattarin'>
あなたにぴったりな</br>
化粧水、ファンデーションは？
</div>
</body>
</html>

<div class="slide-container">
 <div class="slide-wrapper">
 <img class="slide" src="/assets/decorte.webp" alt="京都">
 <img class="slide" src="/assets/キュレル.webp" alt="京都">
 <img class="slide" src="assets/dior.webp" alt="横浜">
 <%= image_tag "resipioM.jpeg", class: 'slide' %>
 <img class="slide" src="/assets/d.webp" alt="京都">
 </div>
 <div class="slide-wrapper">
 <img class="slide" src="/assets/decorte.webp" alt="京都">
 <img class="slide2" src="/assets/キュレル.webp" alt="京都">
 <img class="slide2" src="assets/dior.webp" alt="横浜">
<%= image_tag "resipioM.jpeg", class: 'slide' %>
<img class="slide" src="/assets/d.webp" alt="京都">
 </div>
 <div class="slide-wrapper">
 <img class="slide" src="/assets/decorte.webp" alt="京都">
 <img class="slide2" src="/assets/キュレル.webp" alt="京都">
 <img class="slide2" src="assets/dior.webp" alt="横浜">
<%= image_tag "resipioM.jpeg", class: 'slide' %>
<img class="slide" src="/assets/d.webp" alt="京都">
 </div>
 <div class="slide-wrapper2">
 <img class="slide" src="/assets/decorte.webp" alt="京都">
 <img class="slide2" src="/assets/キュレル.webp" alt="京都">
 <img class="slide2" src="assets/dior.webp" alt="横浜">
<%= image_tag "resipioM.jpeg", class: 'slide' %>
<img class="slide" src="/assets/d.webp" alt="京都">
 </div>
 <div class="slide-wrapper2">
 <img class="slide" src="/assets/decorte.webp" alt="京都">
 <img class="slide2" src="/assets/キュレル.webp" alt="京都">
 <img class="slide2" src="assets/dior.webp" alt="横浜">
<%= image_tag "resipioM.jpeg", class: 'slide' %>
<img class="slide" src="/assets/d.webp" alt="京都">
 </div>
</div>

<div class="slide-container2">
 <div class="slide-wrapper2">
 <img class="slide" src="/assets/decorte.webp" alt="京都">
 <img class="slide2" src="/assets/キュレル.webp" alt="京都">
 <img class="slide2" src="assets/dior.webp" alt="横浜">
<%= image_tag "resipioM.jpeg", class: 'slide' %>
<img class="slide" src="/assets/d.webp" alt="京都">
 </div>
 <div class="slide-wrapper2">
 <img class="slide" src="/assets/decorte.webp" alt="京都">
 <img class="slide2" src="/assets/キュレル.webp" alt="京都">
 <img class="slide2" src="assets/dior.webp" alt="横浜">
<%= image_tag "resipioM.jpeg", class: 'slide' %>
<img class="slide" src="/assets/d.webp" alt="京都">
 </div>
 <div class="slide-wrapper2">
 <img class="slide" src="/assets/decorte.webp" alt="京都">
 <img class="slide2" src="/assets/キュレル.webp" alt="京都">
 <img class="slide2" src="assets/dior.webp" alt="横浜">
<%= image_tag "resipioM.jpeg", class: 'slide' %>
<img class="slide" src="/assets/d.webp" alt="京都">
 </div>
 <div class="slide-wrapper2">
 <img class="slide" src="/assets/decorte.webp" alt="京都">
 <img class="slide2" src="/assets/キュレル.webp" alt="京都">
 <img class="slide2" src="assets/dior.webp" alt="横浜">
<%= image_tag "resipioM.jpeg", class: 'slide' %>
<img class="slide" src="/assets/d.webp" alt="京都">
 </div>
 <div class="slide-wrapper2">
 <img class="slide" src="/assets/decorte.webp" alt="京都">
 <img class="slide2" src="/assets/キュレル.webp" alt="京都">
 <img class="slide2" src="assets/dior.webp" alt="横浜">
<%= image_tag "resipioM.jpeg", class: 'slide' %>
<img class="slide" src="/assets/d.webp" alt="京都">
 </div>


</div>