
<%= form_for(@perfume, class: 'form-horizontal', role: 'form') do |f| %>
    <div class="container-sindan">
        <div class="row">
          <div class="col-123">
            <div class="col-12">
                <p>Question1. おでこや鼻のTゾーンがベタつくことがある</p>
            </div>
            <div class="col-6">
                <p><%= f.check_box :question, {multiple: true}, "1", nil %>YES</p>
            </div>
            <div class="col-6">
                <p><%= f.check_box :question, {multiple: true}, "2", nil %>NO</p>
            </div>
          </div>
        
          <div class="col-123">
            <div class="col-12">
                <p>Question2. 顔全体がベタつくことがある</p>
            </div>
            <div class="col-6">
                <p><%= f.check_box :question, {multiple: true}, "1", nil %>YES</p>
            </div>
            <div class="col-6">
                <p><%= f.check_box :question, {multiple: true}, "2", nil %>NO</p>
            </div>
          </div>

          <div class="col-123">
            <div class="col-12">
                <p>Question3. 肌荒れを起こしやすい時期がある</p>
            </div>
            <div class="col-6">
                <p><%= f.check_box :question, {multiple: true}, "1", nil %>YES</p>
            </div>
            <div class="col-6">
                <p><%= f.check_box :question, {multiple: true}, "2", nil %>NO</p>
            </div>
          </div>

        </div>
    
    
    <div class="sindanbotan">
        <%= f.submit "check" %>
    </div>
<% end %>
</div>
